.store-image-container {
    display: flex;
    justify-content: center; /* Canh giữa hình ảnh */
    align-items: center; /* Canh giữa theo chiều dọc */
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Đổ bóng*/
}

.store-image {
    max-width: 100%;
    height: auto; 
    border-radius: 10px;
}